<html>
    <head th:replace="fragments/headTag :: headTag"></head>
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
            <h2>Add Deliverable</h2>
            <form action="add" th:action="@{/add}" th:object="${deliverable}" method="post" class="form-horizontal formFix">
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <td>
                                <input type="text" name="name" th:field="*{name}"/>
                                <ul th:if="${#fields.hasErrors('name')}">
                                    <li class="error" th:each="err : ${#fields.errors('name')}" th:text="${err}">Input is incorrect!</li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th>Weight</th>
                            <td>
                                <input type="text" name="weight" th:field="*{weight}"/>
                                <ul th:if="${#fields.hasErrors('weight')}">
                                    <li class="error" th:each="err : ${#fields.errors('weight')}" th:text="${err}">Input is incorrect!</li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    <div style="all: inherit; padding: 10px;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Add</button>
                    </div>
                </fieldset>
            </form>
            <div class="container"><p th:text="${message}"></p></div>
            <div th:include="fragments/footer" th:remove="tag"></div>
        </div>
    </body>
</html>
