<html>
    <head th:replace="fragments/headTag :: headTag"></head>
    <body>
        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
            <h2>Deliverables</h2>
            <table class="table table-striped tableFix">
                <thead>
                    <tr>
                        <th style="width: 80px;">Name</th>
                        <th style="width: 150px;">Weight</th>
                        <th style="width: 150px;">Grade</th>
                        <th style="width: 150px;">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="deliverable,i : ${deliverables}">
                        <td th:text="${deliverable.name}"></td>
                        <td th:text="${deliverable.weight}"></td>
                        <td th:if="${grades} == null"></td>
                        <td th:each="grade,x : ${grades}" th:if="${grades} != null and ${i.count} == ${x.count}"><p th:text="${grade}"></p></td>
                        <td>            
                            <a th:href="@{/delete(id=${deliverable.id})}"  style="text-decoration: none;">
                                <button class="btn btn-primary btn-lg" type="button">Remove</button>
                            </a>
                        </td>
                    </tr>   
                    <tr>
                        <td>Course Mark</td>
                        <td></td>
                        <td th:if="${mark} == null"></td>
                        <td th:if="${mark} != null" th:text="${mark}"></td>     
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <h2>Grade Input</h2>
            <form action="calculate" th:action="@{/calculate}" method="post" class="form-horizontal formFix">
                <fieldset>
                    <table class="table table-striped">
                        <tr th:each="deliverable : ${deliverables}">
                            <th th:text="${deliverable.name}"></th>
                            <td><input name="grade"/></td>
                        </tr>
                    </table>
                    <div style="all: inherit; padding: 10px;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Calculate</button>
                    </div>
                </fieldset>
            </form>
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
